<%= render partial: 'navbar' %>

<body>
  <div class="row">
    <p class='col-12'>My Discounts</p>
    <p><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %></p>
  </div>

  <div id='bulk-discounts'>
    <ul>
    <% @bulk_discounts.each do |bd| %>
      <li>
      <div id="discount-<%=bd.id%>">
      <% if bd.name != nil %>
        <b><%= bd.name %>: </b>
      <% end %>
      <%= "#{(bd.discount * 100).round}% off" %>
      <%= "#{bd.threshold} items or more - " %>
      <%= link_to "View Discount", merchant_bulk_discount_path(@merchant, bd)  %> -
      <%= button_to("Delete Discount", merchant_bulk_discount_path(@merchant, bd), method: :delete)%>      
      </div>
      </li>
    <% end  %>
    </ul>
  </div>

  <div class="row">
    <p class='col-12'>Upcoming Holidays</p>
  </div>

  <div id='holidays'>
    <ol>
    <% api = HolidayApi.new.get_holidays %>
    <% Holiday.upcoming_holidays(3).each do |holiday| %>    
      <li>
      <%= holiday[:date] %> - 
      <b>
      <%= holiday[:name] %>
      </b>
      <% if holiday.discounts.count >= 1 %>
        <%= link_to "View Discount", merchant_bulk_discount_path(@merchant, holiday.discounts[0])  %>
      <% else  %>
        <%= button_to "Create Holiday Discount", new_merchant_bulk_discount_path(@merchant), :method => :get, params: {name: "#{holiday[:name]}", date: holiday[:date], discount: 0.30, threshold: 2} %>
      <% end %>
      </li>
    <% end %>
    </ol>
  </div>

</body>