<%= render partial: 'navbar' %>

<body>
  <div class="row">
    <p class='col-12'>Discount Page</p>
    <p><%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @bd) %></p>
  </div>

  <div id='discount'>
    <ul>
      <% if @bd.name != nil %>
        <li>
        <b>Name: </b>
        <%= @bd.name %>
      </li>
      <% end %>
      <li>
      <b>Discount Amount: </b>
      <%= "#{(@bd.discount * 100).round}% off" %>
      </li>
      <li>
      <b>Minimum Item Quantity: </b>
      <%= "#{@bd.threshold} items" %>
      </li>
    </ul>
  </div>
</body>